<section class="invoice-list-wrapper section">
  <!-- create invoice button-->
  <!-- Options and filter dropdown button-->
  <div class="invoice-filter-action mr-3">
    <div class="row">
      <div class="col s9 m11">
        <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.search_field :namespace_cont, placeholder: t('placeholder.search'), class: "search-ransack" %>
        <% end %>
      </div>
      <div class="col s3 m1">
        <%= link_to new_setting_path, class:"btn-floating mb-1 waves-effect waves-light rigth" do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </div>
  </div>
  <p></p>
  <!-- create invoice button-->
  <div class="responsive-table">
    <style>td{padding: 15px}</style>
    <table class="table invoice-data-table white border-radius-4 pt-1">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.setting.namespace') %></th>
          <th><%= t('activerecord.attributes.setting.value') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @settings.each do |setting| %>
        <tr>
            <td><%= setting.namespace %></td>
            <td><%= setting.value %></td>
          <td>
            <div class="invoice-action right-align">
              <%= link_to setting, class: "invoice-action-view mr-4" do %>
                <i class="material-icons">remove_red_eye</i>
              <% end %>
              <%= link_to edit_setting_path(setting) , class: "invoice-action-edit mr-4" do %>
                <i class="material-icons">edit</i>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate(@settings)  %>
</section>
