<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :category %>
    <%= f.text_field :category %>
    
  </div>

  <div class="input-field">

    <%= f.label :document_id %>
    <%= f.text_field :document_id %>
    
  </div>

  <div class="input-field">

    <%= f.label :since %>
    <%= f.date_select :since %>
    
  </div>

  <div class="input-field">

    <%= f.label :code %>
    <%= f.text_field :code %>
    
  </div>

  <div class="input-field">

    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
