<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.customer') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
          </li>
          <li class="breadcrumb-item"><a href="#"><%= t('activerecord.models.customer') %></a>
          </li>
          <li class="breadcrumb-item active"><%= t('breadcrumb.show') %>
          </li>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%= link_to t('button.all'), customers_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
        <%= link_to edit_customer_path(@customer) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
	
  <p>
    <strong>Name:</strong>
    <%= @customer.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @customer.category %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= @customer.document_id %>
  </p>

  <p>
    <strong>Since:</strong>
    <%= @customer.since %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @customer.code %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @customer.birthdate %>
  </p>

</div>

