<%%= form_for(<%= singular_table_name %>) do |f| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%%= t('errors.template.header')  %>:</h5>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
<div class="card-panel">
  
<% attributes.each do |attribute| -%>
  <div class="input-field">
<% if attribute.password_digest? -%>
    <%%= f.label :password %>
    <%%= f.password_field :password %>
  </div>

  <div class="input-field">
    <%%= f.label :password_confirmation %>
    <%%= f.password_field :password_confirmation %>
<% else -%>
    <%- if attribute.reference? -%>
    <%%= f.collection_select :<%= attribute.column_name %>, <%= attribute.name.camelize %>.all, :id, :name, prompt: true  %>
    <% else %>
    <%%= f.label :<%= attribute.column_name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
    <% end %>
<% end -%>
  </div>

<% end -%>
</div>
  <div class="actions">
    <%%= f.submit t('button.save'), class:"btn" %>
  </div>
<%% end %>
