<div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
			<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0"><span><%%= t('activerecord.models.<%= plural_table_name %>') %></span></h5>
							<ol class="breadcrumbs mb-0">
								<li class="breadcrumb-item"><a href="/"><%%= t('home') %></a>
								</li>
								<li class="breadcrumb-item"><a href="#"><%%= t('activerecord.models.<%= plural_table_name %>') %></a>
								</li>
								<li class="breadcrumb-item active"><%%= t('breadcrumb.list') %>
								</li>
							</ol>
						</div>
						<div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%%= new_<%= singular_table_name  %>_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%%= t("button.add")  %> <%%= t('activerecord.models.<%= singular_table_name %>') %></span></a>
						</div>
					</div>
				</div>
			</div>

<section class="invoice-list-wrapper section">
  <!-- create invoice button-->
  <!-- Options and filter dropdown button-->
  <div class="invoice-filter-action mr-3">
    <div class="row">
    <%%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <div class="col s9 m11">
          <%%= f.search_field :<%= attributes.first.name if attributes.present? %>_cont, placeholder: t('placeholder.search'), class: "search-ransack" %>     
      </div>
      <div class="col s3 m1">
				<button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
					<i class="material-icons">search</i>
				</button>
      </div>
    <%% end %>
    </div>
  </div>
  <p></p>
  <!-- create invoice button-->
  <div class="responsive-table">
    <style>td{padding: 15px}</style>
    <table class="table invoice-data-table white border-radius-4 pt-1">
      <thead>
        <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%%= t('activerecord.attributes.<%= model_resource_name %>.<%= attribute.name %>') %></th>
<% end -%>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
          <td>
            <div class="invoice-action right-align">
              <%%= link_to <%= model_resource_name %>, class: "invoice-action-view mr-4" do %>
                <i class="material-icons">remove_red_eye</i>
              <%% end %>
              <%%= link_to edit_<%= singular_route_name %>_path(<%= singular_table_name %>) , class: "invoice-action-edit mr-4" do %>
                <i class="material-icons">edit</i>
              <%% end %>
            </div>
          </td>
        </tr>
        <%% end %>
      </tbody>
    </table>
  </div>
  <%%= paginate(@<%= plural_table_name %>)  %>
</section>
