<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%%= t('activerecord.models.<%= singular_table_name %>') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <li class="breadcrumb-item"><a href="/"><%%= t('home') %></a>
          </li>
          <li class="breadcrumb-item"><a href="#"><%%= t('activerecord.models.<%= singular_table_name %>') %></a>
          </li>
          <li class="breadcrumb-item active"><%%= t('breadcrumb.show') %>
          </li>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%%= link_to t('button.all'), <%= index_helper %>_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
        <%%= link_to edit_<%= singular_route_name %>_path(@<%= singular_table_name %>) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
          <i class="material-icons">edit</i>
        <%% end %>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
	
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <p>
    <strong><%= attribute.human_name %>:</strong>
    <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
  </p>

<% end -%>
</div>

