<%= form_for(worker) do |f| %>
  <% if worker.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :photo %>
    <%= f.text_area :photo %>
    
  </div>

  <div class="input-field">

    <%= f.label :document_id %>
    <%= f.text_field :document_id %>
    
  </div>

  <div class="input-field">

    <%= f.label :categories %>
    <%= f.text_field :categories %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
