/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.search-ransack{
    border: 1px solid #9e9e9e !important;
    background: white !important;
    margin: 0 !important;
    height: 3.2rem !important;
    padding-left: 1.5rem !important;
    border-radius: 150px !important;
    border-bottom: none !important;
}

.page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}