<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
  <meta name="author" content="ThemeSelect">
  <title><%= "#{ yield :title }  Wood Office " %></title>
  <link rel="apple-touch-icon" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <link rel="shortcut icon" type="image/x-icon" href="/materialize/images/favicon/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/flag-icon/css/flag-icon.min.css">
  <link rel="stylesheet" href="/materialize/vendors/select2/select2.min.css" type="text/css">
  <link rel="stylesheet" href="/materialize/vendors/select2/select2-materialize.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/data-tables/css/dataTables.checkboxes.css">
  <!-- END: VENDOR CSS-->
  <!-- BEGIN: Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/materialize.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/style.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/pages/app-sidebar.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/pages/app-todo.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/pages/app-invoice.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/pages/app-email.css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/sweetalert/sweetalert.css">


  <!-- END: Page Level CSS-->
  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/css/custom/custom.css">
  <!-- END: Custom CSS-->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<!-- END: Head-->

<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

<!-- BEGIN: Header-->
<%= render 'layouts/header' %>
<!-- End Header -->


<!-- BEGIN: SideNav-->
<%= render 'layouts/navside' %>
<!-- END: SideNav-->

<!-- BEGIN: Page Main-->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
      <div class="container">
       <%= yield %>
        <div style="height: 70px"></div>
      </div>
    </div>
  </div>
</div>
<!-- END: Page Main-->
<%= yield :sidenav %>
<!-- BEGIN: Footer-->

<footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
  <div class="footer-copyright">
    <div class="container"><span>&copy; 2019 <a href="http://www.novostek.com" target="_blank">Novostek</a> All rights reserved.</span><span class="right hide-on-small-only">Make with <a href="https://woodoffice.novostek.com/">WoodOffice</a></span></div>
  </div>
</footer>

<!-- END: Footer-->
<script src="/materialize/js/vendors.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="/materialize/vendors/sortable/jquery-sortable-min.js"></script>
<script src="/materialize/vendors/select2/select2.full.min.js"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="/materialize/js/plugins.js"></script>
<script src="/materialize/js/search.js"></script>
<script src="/materialize/js/custom/custom-script.js"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="/materialize/js/scripts/app-todo.js"></script>
<script src="/materialize/js/scripts/app-email.js"></script>
<script src="/materialize/vendors/sweetalert/sweetalert.min.js"></script>
<script src="/materialize/js/scripts/extra-components-sweetalert.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChvywrIfEqcwL_kG_8TPRqpGjrB1NXD-4&libraries=places"></script>

<!-- END PAGE LEVEL JS-->
<%= yield :scripts %>
<!-- END PAGE LEVEL JS-->
</body>
</html>